@model _23DH112330_MyStore.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>THÔNG TIN CHI TIẾT CỦA DANH MỤC</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
            Tên danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập Nhật", "Edit", new { id = Model.CategoryID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary" })
</p>
