@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<style>
    .MainContent{
        height:100%;
    }
</style>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="~/Content/script/All-css.css" rel="stylesheet" />
</head>
<div>
    <div class="top1">
        <div style=" margin-left: 175px;margin-top:12px;">
            <a class="no-underline" href="" style="color:#526E3E">Trang chủ </a> >
            <a class="no-underline" href="" style="color:#526E3E">Giới thiệu </a> >
            <a class="no-underline" href="" style="color:#526E3E">Về chúng tôi</a>
        </div>
    </div>
    <div class="body1">
        <div class="leftsb">
            <div style="display:flex;">
                <b style="font-size:25px;color:#1A4127;">Về chúng tôi</b>
            </div>

            <div style="color:#959595">
                <p>09:53 - 29/05/2024</p>
            </div>

            <div style="color: #526E3E;font-size:14px;">
                <p>Mái tóc là thứ quyền lực dịu dàng của người phụ nữ. Bất cữ người phụ nữ nào cũng muốn sở hữu một mái tóc dài, bóng khỏe và mềm mượt. Tuy nhiên, các dầu gội hóa chất cùng các dịch vụ tạo kiểu ngày nay khiến cho mái tóc gặp hư tổn trở nên khô xơ, dễ gãy rụng, chẻ ngọn. Da đầu cũng vì thế gặp nhiều vấn đề gàu, ngứa, dễ đổ dầu. Do đó, chị em phụ nữ luôn mong muốn sở hữu những bí quyết và những sản phẩm chất lượng để bảo vệ và dưỡng tóc thật sự.</p>
            </div>

            <div style="color: #526E3E; font-size: 14px;">
                <p>CÔNG NGHỆ NÂNG TẦM ĐƯA DƯỢC LIỆU CỔ TRUYỀN HỒI SINH, TIẾP TỤC HÀNH TRÌNH NUÔI DƯỠNG MÁI TÓC HIỆN ĐẠI</p>
            </div>

            <div>
                <img alt="" width="820" height="500" nh-lazy="image" src="https://cdn2491.cdn-template-4s.com/media/san-pham/cong_ngh_nc.jpg" style="width: 100%;">
            </div>

            <div style="color: #526E3E; font-size: 14px;">
                <p>Với công thức độc đáo từ 13 dược liệu cổ truyền và các thành phần dưỡng tóc mới, Nguyên Xuân không chỉ giúp bảo vệ tóc mà còn giúp dưỡng tóc và da đầu từ gốc. Đặc biệt, dầu gội Dược liệu Nguyên Xuân lựa chọn kỹ lưỡng các vị dược liệu cùng công nghệ sản xuất đạt tiêu chuẩn CGMP, do đó an toàn để sử dụng cho cả phụ nữ mang thai, sau sinh và cho trẻ em.</p>
            </div>

        </div>
        @* rightsb *@
        <div class="rightsb">
            <div class="duonggachngang">
                <div style="display:flex;">
                    <b style="font-size: 20px; color: #1A4127;padding-bottom:5px;">Bài viết được xem nhiều</b>
                </div>
            </div>

            @* thẻ 1  *@
            <div class="duonggachngang">
                <div class="item">
                    <span>1</span>
                </div>
                <a class="no-underline" href="" style="font-size: 16px; color: #000; text-transform: lowercase;">5 CÁCH TRỊ GÀU BẰNG DẦU DỪA CỰC HIỆU QUẢ TẠI ...</a>
            </div>
            @* thẻ 2  *@
            <div class="duonggachngang">
                <div class="item">
                    <span>2</span>
                </div>
                <a class="no-underline" href="" style="font-size: 16px; color: #000; ">Tìm hiểu sơ lược về dầu gội thảo mộc</a>
            </div>
            @* thẻ 3  *@
            <div class="duonggachngang">
                <div class="item">
                    <span>3</span>
                </div>
                <a class="no-underline" href="" style="font-size: 16px; color: #000; ">Lợi ích của việc sử dụng dầu gội thảo dược trị</a>
            </div>
            @* thẻ 4 *@
            <div class="duonggachngang">
                <div class="item">
                    <span>4</span>
                </div>
                <a class="no-underline" href="" style="font-size: 16px; color: #000; ">Dầu gội dược liệu cho nam giúp dưỡng tóc, da ...</a>
            </div>
            @* thẻ 5 *@
            <div class="duonggachngang">
                <div class="item">
                    <span>5</span>
                </div>
                <a class="no-underline" href="" style="font-size: 16px; color: #000;">Dầu gội dược liệu cho nam giúp dưỡng tóc, da ...</a>
            </div>
            @* thẻ 6 *@
            <div class="duonggachngang">
                <div class="item">
                    <span>6</span>
                </div>
                <a class="no-underline" href="" style="font-size: 16px; color: #000; ">Tổng hợp hơn 30 cách kết hợp bồ kết và các ...</a>
            </div>
            @* thẻ 7 *@
            <div class="duonggachngang">
                <div class="item">
                    <span>7</span>
                </div>
                <a class="no-underline" href="" style="font-size: 16px; color: #000;">Thoát khỏi nỗi sợ mang tên "Gàu" chỉ bằng một ...</a>
            </div>
            @* thẻ 8 *@
            <div class="duonggachngang">
                <div class="item">
                    <span>8</span>
                </div>
                <a class="no-underline" href="" style="font-size: 16px; color: #000; ">“BỎ TÚI” ngay 5 bí quyết ngăn ngừa gàu hiệu quả ...</a>
            </div>
        </div>
    </div>

</div>